.logo {
    font-family: "mogra";
    font-size: 33px;
}

.navigation {
    display: flex;
}

.logoContainer {
    padding-top: 5px;
}

.navbutton {
    color: white;
    font-size: 30px;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.header {
    background-color: #09111C;
    color: #fff;
    padding: 15px 0;
    min-width: fit-content;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-link {
    color: #fff;
    text-decoration: none;
}

.additional {
    display: flex;
}
