.detailsContainer {
    background-color: #09111C;
    padding: 50px;
}

.details {
    color: #ccc;

}

.header {
    font-size: 50px;
}

.info {
    font-size: 25px;
    line-height: 50px;
}

.mainContent {
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
    gap: 40px;
}

.image {
    border-radius: 20px;
}