.detailsContainer {
    background-color: #09111C;
    padding: 50px;
}

.details {
    color: #ccc;
}

.header {
    font-size: 33px;
}

.info {
    font-size: 18px;
    line-height: 50px;
    width: 1000px;
}

.mainContent {
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
}

.image {
    border-radius: 20px;
    flex-grow: 1;
}

.relatedArtists {
    width: 800px;
}

.relatedLabel {
    color: #fff;
    font-size: 30px;
    padding-bottom: 30px;
}

.additional {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.eventList {
    width: 300px;
}

.eventCard {
    background-color: #281842;
    border-radius: 10px;
    color: #fff;
    padding: 15px 20px 30px 20px;
}

.chevron {
    margin-left: auto;
    float: right;
}
