.detailsContainer {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.infoProp {
    display: inline-block;
    width: 300px;
}

.infoContainer {
    display: flex;
    gap: 200px;
    font-size: 20px;
    margin-top: 55px;
}

.infoContainer ul li {
    margin-top: 40px;
}
